In [1]:
import pandas as pd

In [2]:
# rm_main is a mandatory function, 
# the number of arguments has to be the number of input ports (can be none),
#     or the number of input ports plus one if "use macros" parameter is set
# if you want to use macros, use this instead and check "use macros" parameter:
#def rm_main(data,macros):

def rm_main(data):
    new_data=[]
    min_cases = 50
    for country in data.columns:
        if country != 'Date_old':
            new_data\
            .append(data[data[country]>=min_cases][country]\
            .reset_index(drop=True))

    new_data = pd.concat(new_data,axis=1)\
               .reset_index()\
               .rename(columns={'index':'days'})
    
    return new_data

In [3]:
df = pd.read_csv("time_series_covid19_confirmed_global.csv")
df.head(2)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/30/20,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,170,174,237,273,281,299,349,367,423,444
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,223,243,259,277,304,333,361,377,383,400